@import "mixin";

/*---------------------------------------------------------------------------*
 * SF UI Text
 *---------------------------------------------------------------------------*/

/** Bold */
@font-face {
  font-family: "SF Text";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Text-Bold.otf");
}

/** Heavy */
@font-face {
  font-family: "SF Text";
  font-weight: 800;
  src: url("https://sf.abarba.me/SF-UI-Text-Heavy.otf");
}

/** Light */
@font-face {
  font-family: "SF Text";
  font-weight: 200;
  src: url("https://sf.abarba.me/SF-UI-Text-Light.otf");
}

/** Medium */
@font-face {
  font-family: "SF Text";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Text-Medium.otf");
}

/** Regular */
@font-face {
  font-family: "SF Text";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Text-Regular.otf");
}

/** Semibold */
@font-face {
  font-family: "SF Text";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Text-Semibold.otf");
}

/** Ultrathin */
@font-face {
  font-family: "SF Text";
  font-weight: 100;
  src: url("https://sf.abarba.me/SF-UI-Text-Ultrathin.otf");
}

.hidden {
  display: none !important;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

:root {
  --input-padding-x: 0.75rem;
  --input-padding-y: 0.75rem;
}

// html,
// body {
//   font-size: 62.5%;
// }

html {
  scroll-behavior: smooth;
}

body {
  font-family: "SF Text", "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: $default-color;
  background: $white-color;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: auto;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

.row-flex>[class*="col-"] {
  display: flex;
  flex-direction: column;
}

.row.align-item-center {
  align-items: center;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-48 {
  padding-bottom: 48px;
}

.pb-26 {
  padding-bottom: 26px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-60 {
  padding-top: 60px;
}

.pl-20 {
  padding-left: 20px;
}

ul li {
  list-style-type: none;
}

a {
  font-size: 14px;
  line-height: 1.7;
  color: $default-color;
  margin: 0px;
  @include transition();
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: $danger-color;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

.form-control:focus {
  box-shadow: none;
}

.full-width {
  width: 100% !important;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.b-0 {
  border: 0;
}

.text-muted {
  color: #656565 !important;
}

.fa {
  font-size: 14px;
}

a,
.btn,
.btn:hover {
  text-decoration: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.invalid-feedback {
  font-size: 12px;
  letter-spacing: 0.5px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.select,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: 0;
  /* Firefox 1-3.6 */
  border-radius: 0;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
}

.btn {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  padding: 14px 34px;
  border: 1px solid;
  color: $text-dark-secondary;
  margin-bottom: 14px;
  letter-spacing: 0.6px;
  @include transition();
}

button.btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn:hover {
  transform: scale(1.01) translateY(-6px);
}

button.btn.red-btn.fill-red,
a.btn.red-btn.fill-red {
  background: $danger-color;
  color: $white-color;
  box-shadow: 0 18px 40px -12px rgba(244, 67, 54, 0.6);
  border-color: $danger-color;
}

button.btn.red-btn.fill-red:hover,
a.btn.red-btn.fill-red:hover {
  box-shadow: 0 24px 48px -12px rgba(245, 84, 73, 0.35);
  // background: $secondary-color;
  background: $secondary-color;
  border-color: $secondary-color;
  color: $white-color;
}

button.btn.white-btn.fill-white,
a.btn.white-btn.fill-white {
  background: $white-color;
  color: $text-dark;
  border-color: $white-color;
  box-shadow: 0 18px 40px -12px rgba(24, 24, 24, 0.6);
}

button.btn.white-btn.fill-white:hover,
a.btn.white-btn.fill-white:hover {
  background: transparent;
  border-color: $white-color;
  color: $white-color;
  box-shadow: 0 24px 48px -12px rgba(24, 24, 24, 0.35);
}

button.btn.blue-btn.fill-blue,
a.btn.blue-btn.fill-blue {
  background: $blue-btn-color;
  color: $white-color;
  border-color: $blue-btn-color;
  box-shadow: 0 18px 40px -12px rgba(24, 24, 24, 0.6);
}

button.btn.blue-btn.fill-blue:hover,
a.btn.blue-btn.fill-blue:hover {
  background: transparent;
  border-color: $blue-btn-color;
  color: $blue-btn-color;
  box-shadow: 0 24px 48px -12px rgba(24, 24, 24, 0.35);
}

section {
  padding: 80px 0;
}

.section-title {
  font-family: 'Oswald', sans-serif;
  font-size: calc(24px + (30 - 24) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 900;
  text-transform: uppercase;
  line-height: 32px;
  color: $dark-color;
  margin-bottom: 24px;
}

.section-title-wrapper {
  margin-bottom: 24px;
}

.section-subtitle {
  font-size: 16px;
  color: $dark-color;
  font-weight: 500;
}

.blurb {
  font-size: 16px;
  color: $text-dark;
  letter-spacing: 0.4px;
  font-weight: normal;
  margin-bottom: 24px;
}

.img-wrapper-md {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  height: auto;
  text-align: center;
  @include transition;
  overflow: hidden;
}

.img-wrapper-md img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  @include transition;
}

.img-wrapper-md:hover img {
  transform: scale(1.1);
}

ul.square li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 10px;
  height: 10px;
  background-color: #adadad;
}

ul.square {
  margin-left: 0;
}

ul.square li {
  padding-left: 20px;
}

.fill-green {
  background: $fill-green;
}

.fill-brown {
  background: $fill-brown;
}

.fill-violet {
  background: $fill-violet;
}

.fill-yellow-orange {
  background: $fill-yellow-orange;
}

.fill-sky-blue {
  background: $fill-sky-blue;
}

.fill-light-red {
  background: $fill-light-red;
}

/* card start */

.card {
  border: 0;
  border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
  @include transition();
  overflow: hidden;
  // box-shadow: 0 8px 14px -8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.08);
}

.card:hover {
  // box-shadow: 0 8px 14px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.08);
}

.card-img {
  border: 0;
  border-radius: 0;
  overflow: hidden;
  /* margin-bottom: 10px; */
}

.card-img.img-sm img {
  height: 200px;
}

.card-img img {
  width: 100%;
  height: 166px;
  margin: 0 auto;
  object-fit: cover;
  // object-position: 50% 50%;
  object-position: center;
  transform-origin: center;
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card-title {
  font-size: 18px;
  font-weight: 500;
  color: $dark-color;
  margin-bottom: 0;
}

.-title-lg {
  font-size: 24px;
  font-weight: 700;
}

.card-title.text-left {
  text-align: left;
}

.card-position {
  font-size: 16px;
  font-weight: normal;
  color: $text-dark-secondary;
}

.card-blurb-wrapper {
  padding: 16px;
}

.card .blurb-wrapper {
  padding: 20px;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.-img-lg img {
  height: 351px;
}

.card:hover .card-img img {
  transform: scale(1.06) translateZ(0);
  opacity: 0.9;
}

.card-blurb-wrapper.gradient-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px;
}

.gradient-bg {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.704109768907563) 20%,
      rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.704109768907563) 20%,
      rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.704109768907563) 20%,
      rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

.card-blurb-wrapper.gradient-bg .card-title {
  color: $white-color;
  letter-spacing: 0.5px;
  font-weight: normal;
}

/* card close */

/* form input fields style start */

.form-control {
  height: 40px;
  font-size: 14px;
}

.form-control:focus {
  box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  outline: none;
  border: none;
}

input[type="file"] {
  font-size: 12px;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: $input-placeholder-color;
}

input:-moz-placeholder {
  color: $input-placeholder-color;
}

input::-moz-placeholder {
  color: $input-placeholder-color;
}

input:-ms-input-placeholder {
  color: $input-placeholder-color;
}

textarea::-webkit-input-placeholder {
  color: $input-placeholder-color;
}

textarea:-moz-placeholder {
  color: $input-placeholder-color;
}

textarea::-moz-placeholder {
  color: $input-placeholder-color;
}

textarea:-ms-input-placeholder {
  color: $input-placeholder-color;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.invalid-feedback {
  font-size: 12px;
  // font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.select,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: 0;
  /* Firefox 1-3.6 */
  border-radius: 0;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
}

.select,
select {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

form {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 auto;
}

form .form-label-group {
  position: relative;
  margin-bottom: 14px;
  display: block;
}

form .form-label-group {
  // margin: 10px;
  // flex-grow: 1;
}

// form .form-label-group:first-child {
//   margin-left: 0;
// }

form .form-label-group>input,
form .form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}


form .form-label-group>.form-control {
  // height: auto;
}

form .form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
  opacity: 0;
}

form label,
form .custom-control-label,
.col-form-label {
  font-size: 14px;
  font-weight: 700;
  font-weight: normal;
  color: $text-dark;
  line-height: 16px;
  padding: 0;
}

form textarea+label {
  line-height: 14px;
}

form .form-label-group input:focus~label,
form .form-label-group textarea:focus~label {
  opacity: 1;
}

form .form-label-group input:not(:placeholder-shown),
form .form-label-group textarea:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

form .form-label-group input:not(:placeholder-shown)~label,
form .form-label-group textarea:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* form input fields style close */

/* main-middle-contain-wrapper section start */
section.main-middle-contain-wrapper {
  padding: 0;
}

/* main-middle-contain-wrapper section close */

/* intro-section start */
.intro-section {
  position: relative;
  padding: 24px 0 80px;
  // background-image: radial-gradient(circle at 40% 91%, rgba(251, 251, 251, 0.04) 0%, rgba(251, 251, 251, 0.04) 50%, rgba(229, 229, 229, 0.04) 50%, rgba(229, 229, 229, 0.04) 100%), radial-gradient(circle at 66% 97%, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 50%, rgba(46, 46, 46, 0.04) 50%, rgba(46, 46, 46, 0.04) 100%), radial-gradient(circle at 86% 7%, rgba(40, 40, 40, 0.04) 0%, rgba(40, 40, 40, 0.04) 50%, rgba(200, 200, 200, 0.04) 50%, rgba(200, 200, 200, 0.04) 100%), radial-gradient(circle at 15% 16%, rgba(99, 99, 99, 0.04) 0%, rgba(99, 99, 99, 0.04) 50%, rgba(45, 45, 45, 0.04) 50%, rgba(45, 45, 45, 0.04) 100%), radial-gradient(circle at 75% 99%, rgba(243, 243, 243, 0.04) 0%, rgba(243, 243, 243, 0.04) 50%, rgba(37, 37, 37, 0.04) 50%, rgba(37, 37, 37, 0.04) 100%), linear-gradient(90deg, rgb(34, 222, 237), rgb(135, 89, 215));
  // background-image: radial-gradient(circle at 69% 75%, hsla(65, 0%, 95%, 0.05) 0%, hsla(65, 0%, 95%, 0.05) 38%, transparent 38%, transparent 69%, transparent 69%, transparent 100%), radial-gradient(circle at 41% 58%, hsla(65, 0%, 95%, 0.05) 0%, hsla(65, 0%, 95%, 0.05) 3%, transparent 3%, transparent 75%, transparent 75%, transparent 100%), radial-gradient(circle at 94% 91%, hsla(65, 0%, 95%, 0.05) 0%, hsla(65, 0%, 95%, 0.05) 48%, transparent 48%, transparent 55%, transparent 55%, transparent 100%), radial-gradient(circle at 68% 38%, hsla(65, 0%, 95%, 0.05) 0%, hsla(65, 0%, 95%, 0.05) 34%, transparent 34%, transparent 36%, transparent 36%, transparent 100%), radial-gradient(circle at 81% 20%, hsla(65, 0%, 95%, 0.05) 0%, hsla(65, 0%, 95%, 0.05) 40%, transparent 40%, transparent 61%, transparent 61%, transparent 100%), radial-gradient(circle at 46% 37%, hsla(65, 0%, 95%, 0.05) 0%, hsla(65, 0%, 95%, 0.05) 37%, transparent 37%, transparent 76%, transparent 76%, transparent 100%), radial-gradient(circle at 49% 5%, hsla(65, 0%, 95%, 0.05) 0%, hsla(65, 0%, 95%, 0.05) 43%, transparent 43%, transparent 67%, transparent 67%, transparent 100%), radial-gradient(circle at 18% 58%, hsla(65, 0%, 95%, 0.05) 0%, hsla(65, 0%, 95%, 0.05) 4%, transparent 4%, transparent 20%, transparent 20%, transparent 100%), radial-gradient(circle at 43% 68%, hsla(65, 0%, 95%, 0.05) 0%, hsla(65, 0%, 95%, 0.05) 10%, transparent 10%, transparent 36%, transparent 36%, transparent 100%), linear-gradient(135deg, rgb(85, 133, 238), rgb(177, 145, 214));
  // background-image: radial-gradient(circle at 53% 25%, rgba(203, 203, 203, 0.04) 0%, rgba(203, 203, 203, 0.04) 36%, transparent 36%, transparent 100%), radial-gradient(circle at 48% 27%, rgba(22, 22, 22, 0.04) 0%, rgba(22, 22, 22, 0.04) 45%, transparent 45%, transparent 100%), radial-gradient(circle at 65% 50%, rgba(219, 219, 219, 0.04) 0%, rgba(219, 219, 219, 0.04) 61%, transparent 61%, transparent 100%), radial-gradient(circle at 78% 82%, rgba(229, 229, 229, 0.04) 0%, rgba(229, 229, 229, 0.04) 26%, transparent 26%, transparent 100%), radial-gradient(circle at 99% 75%, rgba(96, 96, 96, 0.04) 0%, rgba(96, 96, 96, 0.04) 31%, transparent 31%, transparent 100%), radial-gradient(circle at 17% 28%, rgba(188, 188, 188, 0.04) 0%, rgba(188, 188, 188, 0.04) 15%, transparent 15%, transparent 100%), radial-gradient(circle at 19% 19%, rgba(25, 25, 25, 0.04) 0%, rgba(25, 25, 25, 0.04) 68%, transparent 68%, transparent 100%), radial-gradient(circle at 35% 23%, rgba(31, 31, 31, 0.04) 0%, rgba(31, 31, 31, 0.04) 18%, transparent 18%, transparent 100%), linear-gradient(90deg, rgb(138, 193, 238), rgb(20, 21, 171));
  // background-image: radial-gradient(circle at 25% 54%, rgba(18, 18, 18, 0.06) 0%, rgba(18, 18, 18, 0.06) 22%, transparent 22%, transparent 100%), radial-gradient(circle at 67% 98%, rgba(223, 223, 223, 0.06) 0%, rgba(223, 223, 223, 0.06) 52%, transparent 52%, transparent 100%), radial-gradient(circle at 7% 92%, rgba(169, 169, 169, 0.06) 0%, rgba(169, 169, 169, 0.06) 52%, transparent 52%, transparent 100%), radial-gradient(circle at 46% 37%, rgba(187, 187, 187, 0.06) 0%, rgba(187, 187, 187, 0.06) 47%, transparent 47%, transparent 100%), radial-gradient(circle at 38% 35%, rgba(57, 57, 57, 0.06) 0%, rgba(57, 57, 57, 0.06) 99%, transparent 99%, transparent 100%), radial-gradient(circle at 46% 86%, rgba(100, 100, 100, 0.06) 0%, rgba(100, 100, 100, 0.06) 60%, transparent 60%, transparent 100%), linear-gradient(90deg, rgb(57, 8, 200), rgb(240, 145, 202));
  // background-image: radial-gradient(circle at 67% 83%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 1%, transparent 1%, transparent 5%, transparent 5%, transparent 100%), radial-gradient(circle at 24% 80%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 27%, transparent 27%, transparent 63%, transparent 63%, transparent 100%), radial-gradient(circle at 23% 5%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 26%, transparent 26%, transparent 82%, transparent 82%, transparent 100%), radial-gradient(circle at 21% 11%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 35%, transparent 35%, transparent 45%, transparent 45%, transparent 100%), radial-gradient(circle at 10% 11%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 21%, transparent 21%, transparent 81%, transparent 81%, transparent 100%), radial-gradient(circle at 19% 61%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 20%, transparent 20%, transparent 61%, transparent 61%, transparent 100%), radial-gradient(circle at 13% 77%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 63%, transparent 63%, transparent 72%, transparent 72%, transparent 100%), radial-gradient(circle at 30% 93%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 33%, transparent 33%, transparent 82%, transparent 82%, transparent 100%), linear-gradient(90deg, rgb(22, 176, 207), rgb(103, 7, 215));
  // background-image: radial-gradient(circle at 40% 91%, rgba(251, 251, 251, 0.04) 0%, rgba(251, 251, 251, 0.04) 50%, rgba(229, 229, 229, 0.04) 50%, rgba(229, 229, 229, 0.04) 100%), radial-gradient(circle at 66% 97%, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 50%, rgba(46, 46, 46, 0.04) 50%, rgba(46, 46, 46, 0.04) 100%), radial-gradient(circle at 86% 7%, rgba(40, 40, 40, 0.04) 0%, rgba(40, 40, 40, 0.04) 50%, rgba(200, 200, 200, 0.04) 50%, rgba(200, 200, 200, 0.04) 100%), radial-gradient(circle at 15% 16%, rgba(99, 99, 99, 0.04) 0%, rgba(99, 99, 99, 0.04) 50%, rgba(45, 45, 45, 0.04) 50%, rgba(45, 45, 45, 0.04) 100%), radial-gradient(circle at 75% 99%, rgba(243, 243, 243, 0.04) 0%, rgba(243, 243, 243, 0.04) 50%, rgba(37, 37, 37, 0.04) 50%, rgba(37, 37, 37, 0.04) 100%), linear-gradient(90deg, rgb(34, 222, 237), rgb(135, 89, 215));
  // background-image: radial-gradient(circle at 85% 1%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 96%, transparent 96%, transparent 100%), radial-gradient(circle at 14% 15%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 1%, transparent 1%, transparent 100%), radial-gradient(circle at 60% 90%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 20%, transparent 20%, transparent 100%), radial-gradient(circle at 79% 7%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 78%, transparent 78%, transparent 100%), radial-gradient(circle at 55% 65%, hsla(190, 0%, 93%, 0.05) 0%, hsla(190, 0%, 93%, 0.05) 52%, transparent 52%, transparent 100%), linear-gradient(135deg, rgb(37, 56, 222), rgb(96, 189, 244));
  // background-image: radial-gradient(circle at 22% 15%, rgba(45, 45, 45, 0.05) 0%, rgba(45, 45, 45, 0.05) 50%, rgba(95, 95, 95, 0.05) 50%, rgba(95, 95, 95, 0.05) 100%), radial-gradient(circle at 83% 16%, rgba(122, 122, 122, 0.05) 0%, rgba(122, 122, 122, 0.05) 50%, rgba(194, 194, 194, 0.05) 50%, rgba(194, 194, 194, 0.05) 100%), radial-gradient(circle at 74% 7%, rgba(82, 82, 82, 0.05) 0%, rgba(82, 82, 82, 0.05) 50%, rgba(230, 230, 230, 0.05) 50%, rgba(230, 230, 230, 0.05) 100%), linear-gradient(90deg, rgb(243, 136, 126), rgb(251, 43, 71));
  // background-image: radial-gradient(circle at 99% 0%, rgba(235, 235, 235, 0.03) 0%, rgba(235, 235, 235, 0.03) 50%, rgba(142, 142, 142, 0.03) 50%, rgba(142, 142, 142, 0.03) 100%), radial-gradient(circle at 84% 89%, rgba(229, 229, 229, 0.03) 0%, rgba(229, 229, 229, 0.03) 50%, rgba(1, 1, 1, 0.03) 50%, rgba(1, 1, 1, 0.03) 100%), radial-gradient(circle at 89% 20%, rgba(219, 219, 219, 0.03) 0%, rgba(219, 219, 219, 0.03) 50%, rgba(38, 38, 38, 0.03) 50%, rgba(38, 38, 38, 0.03) 100%), radial-gradient(circle at 90% 0%, rgba(48, 48, 48, 0.03) 0%, rgba(48, 48, 48, 0.03) 50%, rgba(109, 109, 109, 0.03) 50%, rgba(109, 109, 109, 0.03) 100%), linear-gradient(45deg, rgb(26, 53, 180), rgb(164, 129, 216));
  // background-image: radial-gradient(circle at 88% 18%, rgba(136, 136, 136, 0.05) 0%, rgba(136, 136, 136, 0.05) 50%, rgba(172, 172, 172, 0.05) 50%, rgba(172, 172, 172, 0.05) 100%), radial-gradient(circle at 34% 9%, rgba(149, 149, 149, 0.05) 0%, rgba(149, 149, 149, 0.05) 50%, rgba(55, 55, 55, 0.05) 50%, rgba(55, 55, 55, 0.05) 100%), radial-gradient(circle at 37% 56%, rgba(97, 97, 97, 0.05) 0%, rgba(97, 97, 97, 0.05) 50%, rgba(160, 160, 160, 0.05) 50%, rgba(160, 160, 160, 0.05) 100%), linear-gradient(69deg, rgb(10, 68, 151), rgb(72, 211, 165));
  // background-image: radial-gradient(circle at 10% 26%, rgba(90, 90, 90, 0.06) 0%, rgba(90, 90, 90, 0.06) 25%, rgba(137, 137, 137, 0.06) 25%, rgba(137, 137, 137, 0.06) 50%, rgba(185, 185, 185, 0.06) 50%, rgba(185, 185, 185, 0.06) 75%, rgba(232, 232, 232, 0.06) 75%, rgba(232, 232, 232, 0.06) 100%), radial-gradient(circle at 46% 66%, rgba(171, 171, 171, 0.06) 0%, rgba(171, 171, 171, 0.06) 25%, rgba(128, 128, 128, 0.06) 25%, rgba(128, 128, 128, 0.06) 50%, rgba(84, 84, 84, 0.06) 50%, rgba(84, 84, 84, 0.06) 75%, rgba(41, 41, 41, 0.06) 75%, rgba(41, 41, 41, 0.06) 100%), linear-gradient(90deg, rgb(107, 35, 237), rgb(61, 203, 252));
  // background-image: radial-gradient(circle at 49% 80%, rgba(105, 105, 105, 0.06) 0%, rgba(105, 105, 105, 0.06) 25%, rgba(119, 119, 119, 0.06) 25%, rgba(119, 119, 119, 0.06) 50%, rgba(134, 134, 134, 0.06) 50%, rgba(134, 134, 134, 0.06) 75%, rgba(148, 148, 148, 0.06) 75%, rgba(148, 148, 148, 0.06) 100%), radial-gradient(circle at 58% 97%, rgba(130, 130, 130, 0.06) 0%, rgba(130, 130, 130, 0.06) 25%, rgba(97, 97, 97, 0.06) 25%, rgba(97, 97, 97, 0.06) 50%, rgba(63, 63, 63, 0.06) 50%, rgba(63, 63, 63, 0.06) 75%, rgba(30, 30, 30, 0.06) 75%, rgba(30, 30, 30, 0.06) 100%), radial-gradient(circle at 77% 62%, rgba(106, 106, 106, 0.06) 0%, rgba(106, 106, 106, 0.06) 25%, rgba(71, 71, 71, 0.06) 25%, rgba(71, 71, 71, 0.06) 50%, rgba(37, 37, 37, 0.06) 50%, rgba(37, 37, 37, 0.06) 75%, rgba(2, 2, 2, 0.06) 75%, rgba(2, 2, 2, 0.06) 100%), radial-gradient(circle at 53% 15%, rgba(182, 182, 182, 0.06) 0%, rgba(182, 182, 182, 0.06) 25%, rgba(149, 149, 149, 0.06) 25%, rgba(149, 149, 149, 0.06) 50%, rgba(115, 115, 115, 0.06) 50%, rgba(115, 115, 115, 0.06) 75%, rgba(82, 82, 82, 0.06) 75%, rgba(82, 82, 82, 0.06) 100%), radial-gradient(circle at 65% 73%, rgba(230, 230, 230, 0.06) 0%, rgba(230, 230, 230, 0.06) 25%, rgba(222, 222, 222, 0.06) 25%, rgba(222, 222, 222, 0.06) 50%, rgba(214, 214, 214, 0.06) 50%, rgba(214, 214, 214, 0.06) 75%, rgba(206, 206, 206, 0.06) 75%, rgba(206, 206, 206, 0.06) 100%), linear-gradient(135deg, rgb(131, 27, 242), rgb(248, 30, 172));
  // background-image: radial-gradient(circle at 93% 91%, rgba(173, 173, 173, 0.11) 0%, rgba(173, 173, 173, 0.11) 33.333%, rgba(211, 211, 211, 0.11) 33.333%, rgba(211, 211, 211, 0.11) 66.666%, rgba(248, 248, 248, 0.11) 66.666%, rgba(248, 248, 248, 0.11) 99.999%), radial-gradient(circle at 74% 82%, rgba(240, 240, 240, 0.17) 0%, rgba(240, 240, 240, 0.17) 33.333%, rgba(223, 223, 223, 0.17) 33.333%, rgba(223, 223, 223, 0.17) 66.666%, rgba(205, 205, 205, 0.17) 66.666%, rgba(205, 205, 205, 0.17) 99.999%), radial-gradient(circle at 79% 0%, rgba(198, 198, 198, 0.16) 0%, rgba(198, 198, 198, 0.16) 33.333%, rgba(157, 157, 157, 0.16) 33.333%, rgba(157, 157, 157, 0.16) 66.666%, rgba(116, 116, 116, 0.16) 66.666%, rgba(116, 116, 116, 0.16) 99.999%), linear-gradient(0deg, rgb(38, 16, 178), rgb(103, 237, 187));
  // background-image: radial-gradient(circle at 22% 15%, rgba(45, 45, 45, 0.05) 0%, rgba(45, 45, 45, 0.05) 50%, rgba(95, 95, 95, 0.05) 50%, rgba(95, 95, 95, 0.05) 100%),
  //   radial-gradient(circle at 83% 16%, rgba(122, 122, 122, 0.05) 0%, rgba(122, 122, 122, 0.05) 50%, rgba(194, 194, 194, 0.05) 50%, rgba(194, 194, 194, 0.05) 100%),
  //   radial-gradient(circle at 74% 7%, rgba(82, 82, 82, 0.05) 0%, rgba(82, 82, 82, 0.05) 50%, rgba(230, 230, 230, 0.05) 50%, rgba(230, 230, 230, 0.05) 100%),
  //   linear-gradient(90deg, #f3887e, #fb2b47);
}

.intro-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url("../images/intro-bg.svg") no-repeat center;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.logo-navbar-wrapper {
  margin-bottom: 34px;
}

.logo-navbar-wrapper img {
  height: 47px;
}

.intro-title {
  font-size: 24px;
  color: $white-color;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  max-width: 420px;
  line-height: 40px;
  margin: 44px 0 24px;
}

.freelancer-job-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 64px;
}

.freelancer-job-item {
  max-width: 320px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.item-title-blurb-wrapper {
  flex: 1;
}

.freelancer-job-title {
  font-family: 'Oswald', sans-serif;
  color: $white-color;
  color: $text-dark;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 26px;
  margin-bottom: 14px;
  position: relative;
  padding-bottom: 10px;
}

.freelancer-job-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30%;
  height: 2px;
  height: 4px;
  background: $white-color;
  background: $text-dark;
  // background: #cdeb8b;
}

.freelancer-job-item .blurb {
  color: $white-color;
  font-weight: 300;
}

.freelancer-job-item .freelancer-company-btn .btn.white-btn.fill-white:hover {
  background: #2699f3;
  border-color: #2699f3;
  color: $white-color;
  // box-shadow: 0 24px 48px -12px rgb(38 153 243 / 0.35);
}

.freelancer-job-item .job-provider-btn .btn.white-btn.fill-white:hover {
  background: #ff5f2d;
  border-color: #ff5f2d;
  color: $white-color;
}

.freelancer-job-img-wrapper {
  margin-left: 24px;
  margin-right: 24px;
  display: none;
}

.freelancer-job-img-wrapper img {
  width: 280px;
}

/* intro-section close */

/* preregisternewsletter section start */
.preregisternewsletter {
  background: $white-color;
  background: transparent;
  padding: 40px 0 80px;
  position: relative;
  z-index: 2;
}

.preregisternewsletter-section {
  position: relative;
}

.intro-bottom-curve {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: -84px;
  z-index: -1;
}

.intro-bottom-curve img {
  width: 100%;
}

.preregisternewsletter .section-title-wrapper {
  text-align: center;
  margin-bottom: 14px;
}

.preregisternewsletter .section-title {
  line-height: 32px;
  margin-bottom: 0;
}

.preregisternewsletter .preregisternewsletter-sub-header {
  font-size: 28px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 24px;
  font-weight: 700;
  letter-spacing: 2px;
}

.text-green {
  color: #7FD140;
}

.newletter-wrapper {
  // max-width: 600px;
  margin: 0 auto;
}

.preregisternewsletter .blurb {
  margin-bottom: 24px;
  font-size: 18px;
}

form.preregisternewsletter-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-group.form-input {
  margin-right: 0;
  max-width: 440px;
  width: 100%;
}

::placeholder {
  color: #707070;
}

.form-group.form-input input[type="email"] {
  width: 100%;
  height: 57px;
  border: 1px solid #2196F3;
  border-radius: 4px;
  padding: 8px 14px 8px 24px;
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.08);
  @include transition();
}

.form-group.form-btn button.btn.red-btn.fill-red {
  margin-bottom: 0;
}

.form-group.form-input input[type="email"]:hover,
.form-group.form-input input[type="email"]:focus {
  background: $white-color;
  // transform: scale(1) translateY(-5px);
  box-shadow: 0px 24px 43px 0px rgba(173, 179, 192, 0.15);
}

.form-group.form-input input[type="email"]:focus {
  // border-color: $danger-color;
  box-shadow: none;
  outline: 0;
}

.preregisternewsletter-form-wrapper button.btn {
  margin-bottom: 0;
}

.preregisternewsletter-form-wrapper button.btn.blue-btn.fill-blue:hover {
  transform: scale(1.01) translateY(0px);
}

/* preregisternewsletter section close */

/* benefits section start */
.benefits-section {
  padding: 80px 0;
  background: #FAFAFA;
}

.benefits-section .section-title-wrapper {
  margin-bottom: 34px;
}

.benefits-section .section-title {
  letter-spacing: 1.4px;
  font-size: calc(32px + (44 - 32) * ((100vw - 300px) / (1600 - 300)));
  line-height: 60px;
  color: #31adda;
  color: #62beff;
}

.benefits-brief-desc {
  margin-bottom: 44px;
}

.benefits-brief-desc .benefits-sub-title {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 1.4px;
  margin-bottom: 64px;
}

.benefits-brief-desc .benefits-sub-title strong {
  font-weight: 700;
}

.benefits-item-wrapper .benefits-brief-desc .blurb {
  font-weight: 300;
}

.benefits-item-wrapper .benefits-brief-desc .blurb li {
  margin-bottom: 10px;
}

.benefits-item-wrapper .benefits-brief-desc .blurb,
.benefits-item-wrapper .benefits-brief-desc .blurb a {
  font-size: 14px;
}

.benefits-section .benefits-brief-desc .blurb {
  font-weight: 300;
  margin-right: 24px;
}

.benefits-brief-desc .benefit-img {
  margin-bottom: 24px;
  display: none;
}

.benefits-brief-desc .benefit-img img {
  width: 100%;
  max-width: 320px;
}

.benefits-section .benefits-brief-desc p {
  margin-bottom: 34px;
}

.benefits-item-wrapper {
  margin-bottom: 44px;
}

.benefits-item-wrapper:hover .benefits-icon {
  transform: translateY(-6px);
}

.benefits-icon {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px;
  // background: $text-dark;
  margin-bottom: 24px;
  box-shadow: 0 18px 40px -12px rgba(24, 24, 24, 0.6);
  @include transition;
}

.benefits-icon.fill-green {
  background: #B8D26B;
  box-shadow: 0 18px 40px -12px rgba(184, 210, 107, 0.6);
}

.benefits-icon.fill-brown {
  box-shadow: 0 18px 40px -12px rgba(217, 144, 119, 0.6);
}

.benefits-icon.fill-violet {
  background: #5ea1da;
  box-shadow: 0 18px 40px -12px rgba(94, 161, 218, 0.6);
}

.benefits-icon.fill-yellow-orange {
  background: #EAC388;
  box-shadow: 0 18px 40px -12px rgba(234, 195, 136, 0.6);
}

.benefits-icon.fill-sky-blue {
  box-shadow: 0 18px 40px -12px rgba(47, 185, 203, 0.6);
}

.benefits-icon.fill-light-red {
  background: #ee8969;
  box-shadow: 0 18px 40px -12px rgba(234, 113, 75, 0.6);
}

.benefits-title {
  font-family: "Oswald",
    sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.4px;
  /* text-transform: uppercase; */
  color: $text-dark;
}

.benefits-icon-title {
  margin-bottom: 14px;
}

.benefits-item-wrapper .blurb {
  font-weight: 300;
}

.benefits-item-wrapper .blurb li {
  margin-bottom: 10px;
  position: relative;
}

.benefits-item-wrapper .blurb ul.square li::before {
  top: 6px;
  width: 10px;
  height: 10px;
  background-color: #BFDEF4;
}

.benefits-item-wrapper .blurb,
.benefits-item-wrapper .blurb a {
  font-size: 14px;
}

/* benefits section close */

/* can i register section start */
.can-i-register-section {
  padding: 80px 0;
  background-image: linear-gradient(210deg, rgb(160, 222, 219), rgb(3, 165, 209));
  background-image: linear-gradient(56deg, rgba(43, 46, 224, 0.15) 0%, rgba(26, 218, 182, 0.15) 100%),
    linear-gradient(336deg, rgb(50, 52, 221), rgb(60, 239, 241));
  background-image: linear-gradient(45deg, rgb(51, 138, 249), rgb(47, 248, 255));
  background: url("../images/question-bg-img.jpg") no-repeat;
  background-position: center left;
  background-size: cover;
}

.can-i-register-img {
  text-align: center;
  display: none;
}

.can-i-register-img img {
  max-width: 320px;
  width: 100%;
  margin: 24px auto;
}

.can-i-register-section .section-title {
  line-height: 44px;
  color: $white-color;
  margin-bottom: 0;
}

.can-i-register-section .blurb {
  color: $white-color;
  font-weight: 300;
  margin-bottom: 34px;
}

.can-i-register-section button.btn.red-btn.fill-red {
  box-shadow: 0 18px 40px -12px rgba(24, 24, 24, 0.6);
}

.can-i-register-section button.btn.red-btn.fill-red:hover {
  box-shadow: 0 24px 48px -12px rgba(24, 24, 24, 0.35);
}

/* can i register section close */

/* highlight-yellow section start */
.highlight-yellow {
  background: #FFF27F;
  padding: 80px 0;
}

.highlight-yellow .section-title {
  margin-bottom: 0;
  font-size: 39px;
}

.highlight-yellow .blurb {
  margin-bottom: 34px;
  font-size: 20px;
}

.highlight-yellow .section-title-wrapper {
  margin-bottom: 14px;
}

/* highlight-yellow section close */

/* how-it-works section start */
.how-it-works {
  padding: 80px 0;
  position: relative;
}

.how-it-works .container {
  position: relative;
}

.how-it-works .container::before {
  display: none;
}

.how-it-works .section-title-wrapper {
  margin-bottom: 44px;
}

.how-it-works .section-title {
  text-align: center;
  letter-spacing: 2px;
  font-size: calc(30px + (40 - 30) * ((100vw - 300px) / (1600 - 300)));
}

.how-it-works .item-wrapper {
  position: relative;
  background: $white-color;
  max-width: 180px;
  width: 100%;
  height: 212px;
  margin: 0 auto 30px;
  @include display-flex;
  @include flex-direction-column;
  @include justify-content-center;
  text-align: center;
  border-radius: 8px;
  padding: 20px;
  @include transition();
  @include box-shadow(0 8px 24px -4px rgba(153, 153, 153, 0.5));
  overflow: hidden;
}

.how-it-works .how-it-works-item-col {
  margin-bottom: 30px;
}

.how-it-works .item-wrapper::before {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  // background: #adadad;
  transform: skew(-45deg) translateX(-80%);
}

.how-it-works .item-wrapper.fill-light-red::before {
  background-color: $fill-light-red;
}

.how-it-works .item-wrapper.fill-green::before {
  // background: $fill-green;
}

.how-it-works .item-wrapper.fill-yellow-orange::before {
  // background: $fill-yellow-orange;
}

.how-it-works .item-wrapper.fill-sky-blue::before {
  background: $fill-sky-blue;
}

.how-it-works .item-wrapper.fill-green::before {
  background: #B8D26B;
}

.how-it-works .item-wrapper.fill-yellow-orange::before {
  background: #EAC388;
}

.how-it-works .item-wrapper::after {
  content: attr(data-step);
  position: absolute;
  top: 8px;
  left: 20px;
  font-family: "Oswald",
    sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.4px;
  color: $white-color;
}

.how-it-works .item-wrapper:hover {
  @include transform(scale(1.03));
  @include box-shadow(0 8px 24px -4px rgba(0, 0, 0, 0.34));
}

// .how-it-works .row .col-md-3:nth-child(2) .item-wrapper {
//   margin-top: 20px;
// }

// .how-it-works .row .col-md-3:nth-child(3) .item-wrapper {
//   margin-top: 40px;
// }

// .how-it-works .row .col-md-3:nth-child(4) .item-wrapper {
//   margin-top: 60px;
// }

.how-it-works .item-wrapper .item-icon {
  margin-bottom: 24px;
  text-align: center;
}

.how-it-works .item-wrapper .item-icon img {
  width: 34px;
  margin: 0 auto;
}

.how-it-works .item-wrapper .tile-front {
  font-family: "Oswald",
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.6px;
  /* text-transform: uppercase; */
  color: $text-dark;
  line-height: 20px;
}

/* how-it-works section close */

/* how-i-get-paid section start */
.how-i-get-paid {
  padding: 80px 0;
  position: relative;
  background: #f8f8f8;
  background-image: radial-gradient(circle at 69% 86%, rgba(165, 165, 165, 0.06) 0%, rgba(165, 165, 165, 0.06) 25%, rgba(193, 193, 193, 0.06) 25%, rgba(193, 193, 193, 0.06) 50%, rgba(221, 221, 221, 0.06) 50%, rgba(221, 221, 221, 0.06) 75%, rgba(249, 249, 249, 0.06) 75%, rgba(249, 249, 249, 0.06) 100%),
    radial-gradient(circle at 49% 76%, rgba(129, 129, 129, 0.06) 0%, rgba(129, 129, 129, 0.06) 25%, rgba(164, 164, 164, 0.06) 25%, rgba(164, 164, 164, 0.06) 50%, rgba(200, 200, 200, 0.06) 50%, rgba(200, 200, 200, 0.06) 75%, rgba(235, 235, 235, 0.06) 75%, rgba(235, 235, 235, 0.06) 100%),
    radial-gradient(circle at 22% 64%, rgba(173, 173, 173, 0.06) 0%, rgba(173, 173, 173, 0.06) 25%, rgba(119, 119, 119, 0.06) 25%, rgba(119, 119, 119, 0.06) 50%, rgba(64, 64, 64, 0.06) 50%, rgba(64, 64, 64, 0.06) 75%, rgba(10, 10, 10, 0.06) 75%, rgba(10, 10, 10, 0.06) 100%),
    linear-gradient(307deg, rgb(255, 255, 255), rgb(255, 255, 255));
  background-image: radial-gradient(circle at 69% 86%, rgba(165, 165, 165, 0.06) 0%, rgba(165, 165, 165, 0.06) 25%, rgba(193, 193, 193, 0.06) 25%, rgba(193, 193, 193, 0.06) 50%, rgba(221, 221, 221, 0.06) 50%, rgba(221, 221, 221, 0.06) 75%, rgba(249, 249, 249, 0.06) 75%, rgba(249, 249, 249, 0.06) 100%),
    radial-gradient(circle at 49% 76%, rgba(129, 129, 129, 0.06) 0%, rgba(129, 129, 129, 0.06) 25%, rgba(164, 164, 164, 0.06) 25%, rgba(164, 164, 164, 0.06) 50%, rgb(247 246 246 / 0.06) 50%, rgba(200, 200, 200, 0.06) 75%, rgba(235, 235, 235, 0.06) 75%, rgba(235, 235, 235, 0.06) 100%),
    radial-gradient(circle at 22% 64%, rgba(173, 173, 173, 0.06) 0%, rgba(173, 173, 173, 0.06) 25%, rgba(119, 119, 119, 0.06) 25%, rgba(119, 119, 119, 0.06) 50%, rgba(64, 64, 64, 0.06) 50%, rgba(64, 64, 64, 0.06) 75%, rgba(10, 10, 10, 0.06) 75%, rgba(10, 10, 10, 0.06) 100%),
    linear-gradient(307deg, white, white);
}

.how-i-get-paid .container {
  position: relative;
}

.how-i-get-paid .section-title-wrapper {
  margin-bottom: 44px;
}

.how-i-get-paid .section-title {
  text-align: center;
  letter-spacing: 2px;
  font-size: calc(30px + (40 - 30) * ((100vw - 300px) / (1600 - 300)));
}

.how-i-get-paid .how-i-get-paid-item-wrapper-row {
  justify-content: center;
}

.how-i-get-paid .item-wrapper {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.how-i-get-paid .item-wrapper::after,
.escrow-payment .item-wrapper::after,
.how-it-works .how-it-works-item-col::after {
  content: '\e83f';
  font-family: "unicons";
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: #EA714B;
  color: $text-dark;
}

.how-it-works .row .how-it-works-item-col:last-child::after {
  display: none;
}

.how-i-get-paid .item-wrapper .item-icon-wrapper {
  position: relative;
  width: 84px;
  height: 84px;
  margin: 0 auto 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid;
  border-radius: 50%;
  padding: 4px;
  font-size: 24px;
  font-weight: 700;
  background: #f5f5f5;
  color: $white-color;
  @include transition();
  @include box-shadow(0 8px 24px -4px rgba(153, 153, 153, 0.2));
  overflow: hidden;
}

.how-i-get-paid .item-wrapper:hover .item-icon-wrapper {
  @include transform(translateY(-6px));
  @include box-shadow(0 8px 24px -4px rgba(0, 0, 0, 0.2));
}

.how-i-get-paid .item-wrapper[data-step="1"] .item-icon-wrapper {
  color: $fill-sky-blue;
}

.how-i-get-paid .item-wrapper[data-step="2"] .item-icon-wrapper {
  color: $fill-yellow-orange;
}

.how-i-get-paid .item-wrapper[data-step="3"] .item-icon-wrapper {
  color: $fill-green;
}

.how-i-get-paid .how-i-get-paid-item-wrapper-row .how-i-get-paid-item-wrapper-col:last-child .item-wrapper::after {
  display: none;
}

.how-i-get-paid .item-wrapper .item-icon {
  margin-bottom: 0;
  text-align: center;
}

.how-i-get-paid .item-wrapper .item-icon img {
  width: 34px;
  margin: 0 auto;
}

.how-i-get-paid .item-wrapper .tile-front,
.escrow-payment .item-wrapper .tile-front {
  font-family: "Oswald",
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: $text-dark;
  line-height: 20px;
}

/* how-i-get-paid section close */

.how-i-get-paid .section-title-wrapper p,
.escrow-payment .section-title-wrapper p {
  font-size: 18px;
  color: $text-dark;
  margin-bottom: 0;
}

.how-i-get-paid .item-wrapper .item-icon-wrapper {
  margin-bottom: 4px;
}

.milestone {
  margin-bottom: 14px;
  font-size: 14px;
  letter-spacing: 0.4px;
}

// .how-i-get-paid .item-wrapper[data-step="1"] .tile-front {
//   color: $fill-sky-blue;
// }

.how-i-get-paid .item-wrapper .item-icon-wrapper {
  font-size: 14px;
  width: 104px;
  height: 104px;
  margin-bottom: 24px;
}

.how-i-get-paid .item-wrapper[data-step="2"] .item-icon-wrapper {
  margin-bottom: 24px;
}

.how-i-get-paid .item-wrapper[data-step="2"] .milestone {
  color: $fill-yellow-orange;
}

.how-i-get-paid .item-wrapper[data-step="2"] .milestone {
  margin-bottom: 8px;
  color: #eac388;
}

.how-i-get-paid .item-wrapper[data-step="3"] .milestone {
  color: $fill-green;
}

/* escrow-payment section start */
.escrow-payment {
  padding: 80px 0;
  position: relative;
}

.escrow-payment .container {
  position: relative;
}

.escrow-payment .section-title-wrapper {
  margin-bottom: 44px;
}

.escrow-payment .section-title {
  text-align: center;
  letter-spacing: 2px;
  color: $fill-light-red;
  font-size: calc(30px + (40 - 30) * ((100vw - 300px) / (1600 - 300)));
}

.escrow-payment .escrow-payment-item-wrapper-row {
  justify-content: center;
}

.escrow-payment .item-wrapper {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.escrow-payment .item-wrapper .item-icon-wrapper {
  position: relative;
  width: 88px;
  height: 88px;
  margin: 0 auto 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid;
  border-radius: 50%;
  border-radius: 4px;
  padding: 4px;
  color: $text-dark;
  @include transition();
  @include box-shadow(0 8px 24px -4px rgba(153, 153, 153, 0.2));
  overflow: hidden;
}

.escrow-payment .item-wrapper:hover .item-icon-wrapper {
  @include transform(scale(1.01));
  @include box-shadow(0 8px 24px -4px rgba(0, 0, 0, 0.2));
}

.escrow-payment .item-wrapper[data-step="1"] .item-icon-wrapper {
  border-color: $fill-light-red;
  background: $fill-light-red;
}

.escrow-payment .item-wrapper[data-step="2"] .item-icon-wrapper {
  border-color: $fill-yellow-orange;
  background: $fill-yellow-orange;
}

.escrow-payment .item-wrapper[data-step="3"] .item-icon-wrapper {
  border-color: $fill-sky-blue;
  background: $fill-sky-blue;
}

.escrow-payment .item-wrapper[data-step="4"] .item-icon-wrapper {
  border-color: $fill-green;
  background: $fill-green;
}

.escrow-payment .escrow-payment-item-wrapper-row .escrow-payment-item-wrapper-col:last-child .item-wrapper::after {
  display: none;
}

.escrow-payment .item-wrapper .item-icon {
  margin-bottom: 0;
  text-align: center;
}

.escrow-payment .item-wrapper .item-icon img {
  width: 44px;
  margin: 0 auto;
}

.escrow-payment .item-wrapper .tile-front {
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 22px;
}

/* escrow-payment section close */

/* various-category section start */
.various-category-section {
  padding: 80px 0;
  background: #FAFAFA;
  background-image: linear-gradient(23deg, rgba(202, 202, 202, 0.02) 0%, rgba(202, 202, 202, 0.02) 13%, transparent 13%, transparent 80%, rgba(11, 11, 11, 0.02) 80%, rgba(11, 11, 11, 0.02) 100%),
    linear-gradient(42deg, rgba(98, 98, 98, 0.02) 0%, rgba(98, 98, 98, 0.02) 36%, transparent 36%, transparent 77%, rgba(252, 252, 252, 0.02) 77%, rgba(252, 252, 252, 0.02) 100%),
    linear-gradient(286deg, rgba(173, 173, 173, 0.02) 0%, rgba(173, 173, 173, 0.02) 2%, transparent 2%, transparent 12%, rgba(59, 59, 59, 0.02) 12%, rgba(59, 59, 59, 0.02) 100%),
    linear-gradient(77deg, rgba(87, 87, 87, 0.02) 0%, rgba(87, 87, 87, 0.02) 18%, transparent 18%, transparent 55%, rgba(247, 247, 247, 0.02) 55%, rgba(247, 247, 247, 0.02) 100%),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

.various-category-section .section-title-wrapper {
  margin-bottom: 44px;
}

.various-category-section .section-title {
  text-align: center;
  font-size: 39px;
  color: #bccc22;
}

.row.category-card-wrapper-row .col-12 {
  margin-bottom: 24px;
}

.card.category-card-wrapper {
  height: 100%;
  padding: 24px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.04);
}

.card.category-card-wrapper:hover {
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.08);
}

.card.category-card-wrapper .card-body {
  padding: 0;
  font-family: 'Roboto',
    sans-serif;
}

.card.category-card-wrapper .card-title {
  margin-bottom: 14px;
  font-family: "Oswald",
    sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #2a86d0;
}

.card.category-card-wrapper ul {
  margin-bottom: 0;
}

.card.category-card-wrapper ul li,
.card.category-card-wrapper ul li a {
  font-size: 14px;
  color: #585858;
}

.card.category-card-wrapper ul li {
  margin-bottom: 6px;
  line-height: 14px;
}

.card.category-card-wrapper ul li a:hover {
  color: #2a86d0;
}

/* various-category section close */

/* footer start */
footer {
  margin-top: 0;
}

.footer-bottom {
  padding: 7px 0;
  background: #2a86d0;
}

.copyright-text,
.copyright-text a {
  font-size: 11px;
  color: $white-color;
}

.copyright-text {
  text-align: center;
}

/* footer close */


@media (max-width: 991px) {}

@media (max-width: 767.98px) {

  section.main-middle-contain-wrapper {
    // padding-top: 67px;
  }

  .intro-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../images/intro-bg-vertical.png) no-repeat center;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }
}

@media (max-width: 575.98px) {
  .intro-bottom-curve {
    margin-top: -28px;
  }
}

@media only screen and (max-width: 575.98px) and (min-width: 480px) {}

@media only screen and (max-width: 480px) and (min-width: 375px) {}

@media (max-width: 480px) {
  .freelancer-job-item {
    margin-bottom: 34px;
  }
}

@media (max-width: 375px) {
  .intro-title {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.8px;
    margin-top: 34px;
  }

  .freelancer-job-wrapper {
    margin-top: 64px;
  }

  .intro-section {
    padding-top: 10px;
  }

  .freelancer-job-title {
    font-size: 22px;
  }

  .preregisternewsletter-sub-header.text-green {
    font-size: 24px;
  }

  .benefits-item-wrapper {
    padding: 0 14px;
  }

  .can-i-register-section .section-title {
    line-height: 34px;
  }

  .highlight-yellow .section-title {
    font-size: 22px;
  }

  .highlight-yellow .blurb {
    font-size: 14px;
  }

  .can-i-register-section .blurb {
    font-size: 14px;
  }

  .how-i-get-paid .section-title-wrapper p,
  .escrow-payment .section-title-wrapper p {
    font-size: 14px;
  }
}

@media (min-width: 480px) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {

  .freelancer-job-wrapper {
    flex-wrap: nowrap;
  }

  .how-i-get-paid .item-wrapper {
    margin-bottom: 0;
  }

  .how-it-works .how-it-works-item-col {
    margin-bottom: 0;
  }

  .how-i-get-paid .item-wrapper::after,
  .escrow-payment .item-wrapper::after {
    content: '\e846';
    bottom: unset;
    left: unset;
    transform: unset;
    top: 44px;
    right: -12px;
  }

  .how-it-works .how-it-works-item-col::after {
    content: '\e846';
    bottom: unset;
    left: unset;
    transform: unset;
    top: 40%;
    right: -12px;
    transform: translateY(-50%);
  }

  .escrow-payment .item-wrapper {
    margin-bottom: 0;
  }
}

@media (min-width: 768.98px) {

  .benefits-brief-desc .benefit-img {
    display: none;
  }

}

@media (min-width: 992px) {
  .can-i-register-section {
    background-position: 70% 50%;
    background-size: cover;
  }

  .form-group.form-input {
    margin-right: 24px;
  }

  .how-it-works .container::before {
    display: block;
    @include position-absolute-top-left(30%, 50%);
    content: '';
    width: 90%;
    height: 390px;
    transform: translate(-50%, -20%);
    background: url('../images/dashed-arrow.svg') no-repeat;
    background-size: contain;
    background-position: center;
  }
}

@media (min-width: 1024px) {
  .freelancer-job-img-wrapper {
    // display: block;
  }

}

@media (min-width: 1200px) {}

@media (min-width: 1440px) {}